.vscode
.env
.pytest_cache
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
API/__pycache__/dependencies.cpython-38.pyc
API/__pycache__/main.cpython-38.pyc
API/Data/__pycache__/__init__.cpython-38.pyc
API/Data/__pycache__/config.cpython-38.pyc
API/Data/__pycache__/connection.cpython-38.pyc
API/Data/__pycache__/seed.cpython-38.pyc
API/Routers/__pycache__/__init__.cpython-38.pyc
API/Routers/__pycache__/applications.cpython-38.pyc
API/Routers/__pycache__/auth.cpython-38.pyc
API/Routers/__pycache__/badges.cpython-38.pyc
API/Routers/__pycache__/helpers.cpython-38.pyc
API/Routers/__pycache__/requests.cpython-38.pyc
API/Data/badges.csv
